header{
  text-align:center;
  padding:40px 20px;
  background-color:#f4f4f4;
}

header h1{
  margin:0;
  font-size:2.5em;
}
header p{
  margin:5px 0 0 0;
  font-size:1.2em;
}

section {
  background:#fff;
  margin:20px auto;
  padding:20px;
  border-radius:8px;
  max-width:800px;
}
h2{
  color:#222;
}


